# GCE
apache-libcloud>=1.2.0  # max from modules, https://github.com/ansible/ansible/blob/stable-2.9/lib/ansible/modules/cloud/google/gce_mig.py
google-auth>=1.3.0    # needed for gce inventory imports
# Azure
# azure deps from https://github.com/ansible/ansible/pull/62895
packaging
requests[security]
xmltodict
azure-cli-core==2.0.74
azure-cli-nspkg==3.0.4
azure-common==1.1.22
azure-mgmt-authorization==0.52.0
azure-mgmt-batch==7.0.0
azure-mgmt-cdn==3.1.0
azure-mgmt-compute==8.0.0
azure-mgmt-containerinstance==1.5.0
azure-mgmt-containerregistry==3.0.0rc5
azure-mgmt-containerservice==7.0.0
azure-mgmt-dns==2.1.0
azure-mgmt-keyvault==1.1.0
azure-mgmt-marketplaceordering==0.2.1
azure-mgmt-monitor==0.5.2
azure-mgmt-network==4.0.0
azure-mgmt-nspkg==3.0.2
azure-mgmt-redis==6.0.0
azure-mgmt-resource==4.0.0
azure-mgmt-rdbms==1.9.0
azure-mgmt-servicebus==0.6.0
azure-mgmt-sql==0.12.0
azure-mgmt-storage==4.0.0
azure-mgmt-trafficmanager==0.51.0
azure-mgmt-web==0.42.0
azure-nspkg==3.0.2
azure-storage==0.35.1
msrest==0.6.9
msrestazure==0.6.2
azure-keyvault==1.1.0
azure-graphrbac==0.60.0
azure-mgmt-cosmosdb==0.8.0
azure-mgmt-hdinsight==1.1.0
azure-mgmt-devtestlabs==2.2.0
azure-mgmt-loganalytics==0.2.0
azure-mgmt-automation==0.1.1
azure-mgmt-iothub==0.8.2
# AWS
boto
boto3
jinja2>2.10.1  # required for native jinja2 types for inventory compat mode
# netconf for network modules
ncclient  # https://github.com/ansible/ansible/blob/stable-2.9/test/integration/network-integration.requirements.txt
# netaddr filter
netaddr
# oVirt/RHV
ovirt-engine-sdk-python>=4.3.0    # minimum set inside Ansible facts module requirements
# AWX usage
psutil==5.4.3    # same as AWX requirement
# VMware
pyvmomi>=6.0.0.2016.4  # https://github.com/ansible/ansible/blob/stable-2.9/contrib/inventory/vmware_inventory.py
# WinRM
pywinrm[kerberos]
requests>=2.18.4  # from gcp_compute inventory plugin
requests-credssp>=1.0.2   # For windows authentication awx/issues/1144
# OpenStack
openstacksdk==0.31.1
pip==19.3.1  # see upgrade blockers
setuptools==41.6.0  # see upgrade blockers
