# GCE
apache-libcloud==2.6.1
google-auth==1.7.1  # needed for gce inventory imports
# Azure
# azure deps from https://github.com/ansible/ansible/blob/stable-2.9/packaging/requirements/requirements-azure.txt
packaging==19.2
azure-cli-core==2.0.76
azure-cli-nspkg==3.0.4
azure-common==1.1.23
azure-mgmt-authorization==0.60.0
azure-mgmt-batch==7.0.0
azure-mgmt-cdn==3.1.0
azure-mgmt-compute==10.0.0
azure-mgmt-containerinstance==1.5.0
azure-mgmt-containerregistry==2.8.0
azure-mgmt-containerservice==8.0.0
azure-mgmt-dns==3.0.0
azure-mgmt-keyvault==2.0.0
azure-mgmt-marketplaceordering==0.2.1
azure-mgmt-monitor==0.7.0
azure-mgmt-network==8.0.0
azure-mgmt-nspkg==3.0.2
azure-mgmt-redis==6.0.0
azure-mgmt-resource==4.0.0
azure-mgmt-rdbms==1.9.0
azure-mgmt-servicebus==0.6.0
azure-mgmt-sql==0.15.0
azure-mgmt-storage==6.0.0
azure-mgmt-trafficmanager==0.51.0
azure-mgmt-web==0.44.0
azure-nspkg==3.0.2
azure-storage==0.36.0
msrest==0.6.10
msrestazure==0.6.2
azure-keyvault==4.0.0
azure-graphrbac==0.61.1
azure-mgmt-cosmosdb==0.10.0
azure-mgmt-hdinsight==1.2.0
azure-mgmt-devtestlabs==4.0.0
azure-mgmt-loganalytics==0.2.0
azure-mgmt-automation==0.1.1
azure-mgmt-iothub==0.9.0
# AWS
boto==2.49.0  # last which does not break ec2 scripts
boto3==1.10.26
jinja2==2.10.3  # required for native jinja2 types for inventory compat mode
# netconf for network modules
ncclient==0.6.6
# netaddr filter
netaddr==0.7.19
# oVirt/RHV
ovirt-engine-sdk-python==4.3.3  # minimum set inside Ansible facts module requirements
pycurl==7.43.0.3  # higher versions will not install without SSL backend specified
# AWX usage
psutil==5.6.5  # same as AWX requirement
setuptools==41.6.0
pip==19.3.1
# VMware
pyvmomi==6.7.3
# WinRM
backports.ssl-match-hostname==3.7.0.1
pywinrm[kerberos]==0.4.1
requests==2.22.0
requests-credssp==1.1.0  # For windows authentication awx/issues/1144
# OpenStack
openstacksdk==0.37.0
