ansible-runner
ansiconv
appdirs
# asgi-amqp
azure-keyvault
boto
channels
celery
daphne
twisted[tls]
Django
django-auth-ldap
django-cors-headers
django-crum
django-extensions
django-jsonfield
django-oauth-toolkit
django-polymorphic
django-pglocks
django-qsstats-magic
django-radius
django-solo
django-split-settings
django-taggit
djangorestframework
djangorestframework-yaml
GitPython
irc
jinja2
jsonschema
Markdown
openshift
ordereddict
prometheus_client
psutil
psycopg2
pygerduty
pyparsing
python-dateutil
python-memcached
python-radius
python3-saml
social-auth-core
social-auth-app-django
requests
requests-futures
slackclient
tacacs_plus
twilio
uWSGI
uwsgitop
pip
setuptools
