# GCE
apache-libcloud
google-auth
# Azure
# azure deps from https://github.com/ansible/ansible/blob/stable-2.9/packaging/requirements/requirements-azure.txt
packaging
azure-cli-core
azure-cli-nspkg
azure-common
azure-mgmt-authorization
azure-mgmt-batch
azure-mgmt-cdn
azure-mgmt-compute
azure-mgmt-containerinstance
azure-mgmt-containerregistry
azure-mgmt-containerservice
azure-mgmt-dns
azure-mgmt-keyvault
azure-mgmt-marketplaceordering
azure-mgmt-monitor
azure-mgmt-network
azure-mgmt-nspkg
azure-mgmt-redis
azure-mgmt-resource
azure-mgmt-rdbms
azure-mgmt-servicebus
azure-mgmt-sql
azure-mgmt-storage
azure-mgmt-trafficmanager
azure-mgmt-web
azure-nspkg
azure-storage
msrest
msrestazure
azure-keyvault
azure-graphrbac
azure-mgmt-cosmosdb
azure-mgmt-hdinsight
azure-mgmt-devtestlabs
azure-mgmt-loganalytics
azure-mgmt-automation
azure-mgmt-iothub
# AWS
boto
boto3
jinja2
# netconf for network modules
ncclient
# netaddr filter
netaddr
# oVirt/RHV
ovirt-engine-sdk-python
pycurl
# AWX usage
psutil
setuptools
pip
# VMware
pyvmomi
# WinRM
backports.ssl-match-hostname
pywinrm[kerberos]
requests
requests-credssp
# OpenStack
openstacksdk
